---
import { Image } from "astro:assets";

import Button from "@/components/lib/elements/Button.astro";
import Wrapper from "@/components/lib/containers/Wrapper.astro";
import Text from "@/components/lib/elements/Text.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

import { pageData, cvData } from "@/content/pages/about.js";

import headerImg from '/src/images/portrait.webp';
import MapPin from "@/components/lib/icons/MapPin.astro";

import { stackGrid, stackGridPadding, stickyElement } from "@/shared/classes.js";
---

<BaseLayout>
    <section>
        <Wrapper variant="standard">
            <!--About Me-->
            <div class:list={[...stackGrid, ...stackGridPadding]} class="border-b">
                <div class="grid gap-8">
                    <div class="grid gap-2">
                        <Text tag="h1" variant="text2XL" class="font-medium text-base-800 dark:text-base-100">
                            {pageData.title}
                        </Text>
                        <Text tag="p" class="text-base-600 dark:text-base-300">
                            Aktualisiert am <span id="publishedDate">14.06.1985</span>
                        </Text>
                    </div>
                    <Image width={1000}
                           height={800}
                           loading="eager"
                           decoding="async"
                           alt={pageData.headerImgAlt}
                           src={headerImg}
                           class="lg:hidden object-cover object-center w-full aspect-12/6 lg:col-span-2 rounded-xl"
                    />

                    <Wrapper variant="prose">
                        <Text tag="h2">Development</Text>
                        <Text tag="p">
                            Als Developer gieße ich Design in modernen, modularen und skalierbaren Code.
                            Ich habe umfassende Erfahrung mit Responsive Webdesign, modernen
                            Webtechnologien, Frameworks, Best Practices, Web-Fundamentals und Deployment.
                        </Text>

                        <Text tag="h3">Frameworks & Tools</Text>
                        <Text tag="p">
                            Next.js & React, Node.js, Angular + Material Design, Astro, NX, Django, NPM, Git,
                            Tailwind, shadcn, GSAP
                        </Text>

                        <Text tag="h3">Sprachen</Text>
                        <Text tag="p">
                            TypeScript/JavaScript, Python, HTML, MD, MJML, Sass/CSS, JSON und SVG
                        </Text>
                    </Wrapper>
                    <hr class="my-2.5 opacity-30 dark:text-white"></hr>
                    <Wrapper variant="prose">
                        <Text tag="h2">Design</Text>
                        <Text tag="p">
                            Als UI/UX Designer entwickle ich nutzerzentrierte Konzepte, Prototypen und Interfaces,
                            um die Nutzer-zufriedenheit und den Entwicklungszyklus zu optimieren. Weiterhin bin ich
                            kompetent in Usability, User Experience, User Interface, Design Systems, Design
                            Thinking, Grafikdesign, Layout & Typografie, Branding und Animation.
                        </Text>

                        <Text tag="h3"> Tools</Text>
                        <Text tag="p">
                            Figma, Figjam, Adobe CS (Photoshop, Illustrator, InDesign, After Effects, Premiere),
                            Affinity Suite für Print & Digital
                        </Text>
                    </Wrapper>
                </div>

                <hr class="lg:hidden mt-6 opacity-30 dark:text-white"></hr>

                <div class="lg:col-span-2">
                    <Wrapper variant="prose">
                        <Image width={1000}
                               height={800}
                               loading="eager"
                               decoding="async"
                               alt={pageData.headerImgAlt}
                               src={headerImg}
                               class="hidden lg:block object-cover object-center w-full aspect-12/6 lg:col-span-2 rounded-xl"
                        />
                        <Text tag="p">
                            Mein Fokus ist die Frontend-Entwicklung skalierbarer und moderner
                            Enterprise-Webapplikationen. Dabei lege ich besonderen Wert auf Performance, Code-Qualität
                            und exzellentes UI/UX. Ich arbeite eigenverantwortlich und besonders erfolgreich in agilen,
                            interdisziplinären Teams. Mein ganzheitliches Verständnis des Entwicklungsprozesses
                            verbindet Business, Konzept, Design und Development.
                        </Text>
                        <Text tag="p">
                            Seit meinem Berufseinstieg habe ich immer positives Feedback für meine Arbeit bekommen. Ich
                            weiß, was ich kann und wo meine Grenzen liegen und konnte mich bisher immer auf mein
                            analytisches Denken und Urteilsvermögen verlassen. Ich bin zielstrebig und löse hartnäckige
                            Probleme gerne und kreativ. Denn das Erstbeste ist nicht immer das Beste.
                        </Text>
                        <Text tag="p">
                            Als anpassungsfähiger Autodidakt liebe ich es zu lernen, wende das Gelernte an und teile es
                            mit anderen. Um mir ein gutes Urteil zu bilden, ist es wichtig, das Für und Wider abzuwägen.
                            Ich bin gerne vorbereitet. Um meine Talente in geordnete Bahnen zu lenken, helfen mir klare
                            Ziele, Termine, Zeitpläne, Absprachen und regelmäßiges Feedback. Als reflektierter und
                            empathischer Mensch zeichne ich mich durch Hilfsbereitschaft aus, denn das Wohl meiner
                            Kolleginnen und Kollegen ist mir wichtig.
                        </Text>

                        <Text tag="h2">Weitere Interessen</Text>
                        <Text tag="p" class="lg:text-balance">
                            Wissenschaft, KI, Kunst, Weltraum & Forschung, Gesellschaft & Politik,
                            Psychologie & Philosophie, Sport und Musik.
                        </Text>
                    </Wrapper>
                </div>
            </div>

            <!--CV-->
            <Wrapper variant="prose" class:list={[...stackGridPadding]}>
                <div class:list={[...stackGrid]} class="sm:grid-cols-2 items-start sm:items-center">
                    <Text tag="h2" class="!text-xl !xl:text-2xl !2xl:text-3xl font-medium !my-0 lg:ml-auto">
                        Curriculum Vitae
                    </Text>
                    <div class="col-span-1">
                        <Button aria-label="CV herunterladen"
                                isLink={true}
                                download="CV_Arthur_Ersosi_2025_DE.pdf"
                                href="/CV_Arthur_Ersosi_2025_DE.pdf"
                                size="sm"
                                variant="accent"
                                class="sm:ml-auto lg:ml-0 w-fit no-underline !text-white !dark:text-base-950">
                            CV herunterladen
                        </Button>
                    </div>
                </div>

                <div class="grid gap-6">
                    {
                        cvData.map((item) => (
                                <div class:list={[...stackGrid]}>
                                    <span></span>
                                    <div class="lg:col-span-2">
                                        <Text tag="h2">
                                            {item.headline}
                                        </Text>
                                    </div>
                                </div>
                                <>
                                    {item.entries.map((entry) => (
                                            <div class:list={[...stackGrid]} class="!gap-y-0">
                                                <Text tag="p" class="text-black dark:text-white lg:ml-auto mb-0">
                                                    {entry.date}
                                                </Text>
                                                <div class="lg:col-span-2">
                                                    <Text tag="p" class="font-medium text-black dark:text-white">
                                                        {entry.position}
                                                    </Text>

                                                    <div class="grid gap-2">
                                                        {entry.company.map((entry) => (
                                                                <div class="flex gap-2 items-center">
                                                                    <MapPin size="xs"/>
                                                                    <Text tag="p" class="!-my-1">
                                                                        {entry}
                                                                    </Text>
                                                                </div>
                                                        ))}
                                                    </div>

                                                    <Text tag="p">
                                                        {entry.description}
                                                    </Text>
                                                </div>
                                            </div>
                                    ))}
                                </>
                        ))}
                </div>
            </Wrapper>
        </Wrapper>
    </section>
</BaseLayout>


