---
import { pageContent } from "@/content/pages/about/pageContent";
import { cvData, cvTitle } from "@/content/pages/about/cvData";
import Wrapper from "@/components/containers/Wrapper.astro";
import Text from "@/components/elements/Text.astro";
import { Image } from "astro:assets";
import MapPin from "@/lib/icons/MapPin.astro";
import BaseLayout from "@/components/layouts/BaseLayout.astro";
import UpdatePublishedDate from "@/lib/scripts/UpdatePublishedDate.astro";

import aboutCover from "src/images/pages/about-cover.webp";
import { stackGrid, stackGridPadding } from "@/lib/shared/abstracts";
import Button from "../../components/elements/Button.astro";
import Download from "../../lib/icons/Download.astro";
---

<BaseLayout
  pageTitle="Über mich | Arthur Ersosi"
  pageDescription="Frontend-Developer und UI/UX-Designer mit 9+ Jahren Design Expertise und 7+ Jahren Web-Entwicklung Erfahrung aus Hamburg."
  image="/images/pages/about-cover.webp"
>
  <UpdatePublishedDate />

  <section>
    <Wrapper variant="standard">
      <div class:list={[...stackGrid, ...stackGridPadding]} class="border-b">
        <div class="grid h-fit gap-8">
          <!-- About Me Header -->
          <div class="grid gap-2">
            <Text tag="h1" isPrimary>
              {pageContent.viewerTitle}
            </Text>
            <Text tag="p">
              {pageContent.publishedDateLabel + " "}
              <span id="publishedDate">14.06.1985</span>
            </Text>
          </div>

          <!-- Cover Image -->
          <Image
            alt={pageContent.headerImgAlt}
            src={aboutCover}
            widths={[320, 480, 640, 768, 1024, 1280, 1440]}
            sizes="(max-width: 639px) 100vw, (max-width: 767px) 100vw, (max-width: 1023px) 50vw, (max-width: 1279px) 33vw, (max-width: 1439px) 25vw, 400px"
            layout="constrained"
            loading="eager"
            decoding="async"
            class="aspect-12/6 w-full rounded-xl object-cover object-center shadow-lg lg:col-span-2 lg:hidden print:w-1/2"
          />

          <!-- Development -->
          <Wrapper variant="proseBase" class="pb-6">
            <Text tag="h2">{pageContent.development.title}</Text>
            <Text tag="p">{pageContent.development.description}</Text>

            <Text tag="h3">{pageContent.development.frameworksTitle}</Text>
            <Text tag="p">{pageContent.development.frameworks}</Text>

            <Text tag="h3">{pageContent.development.languagesTitle}</Text>
            <Text tag="p">{pageContent.development.languages}</Text>
          </Wrapper>

          <!-- Design -->
          <Wrapper variant="proseBase" class="pb-6">
            <Text tag="h2">{pageContent.design.title}</Text>
            <Text tag="p">{pageContent.design.description}</Text>

            <Text tag="h3">Tools</Text>
            <Text tag="p">{pageContent.design.tools}</Text>
          </Wrapper>

          <!-- Personal Interests -->
          <Wrapper variant="proseBase">
            <Text tag="h2">{pageContent.personal.interestsTitle}</Text>
            <Text tag="p">{pageContent.personal.interests}</Text>
          </Wrapper>
        </div>

        <hr class="mt-6 opacity-30 lg:hidden dark:text-white" />

        <!-- Personal -->
        <div class="lg:col-span-2">
          <Wrapper variant="proseBase">
            <Image
              alt={pageContent.headerImgAlt}
              src={aboutCover}
              widths={[320, 480, 640, 768, 1024, 1280, 1440]}
              sizes="(max-width: 639px) 100vw, (max-width: 767px) 100vw, (max-width: 1023px) 50vw, (max-width: 1279px) 33vw, (max-width: 1439px) 25vw, 400px"
              layout="constrained"
              loading="eager"
              decoding="async"
              class="bg-secondary-100 hidden aspect-12/6 w-full rounded-xl object-cover object-center shadow-lg lg:col-span-2 lg:block print:w-1/2"
            />

            <Text tag="p">{pageContent.personal.intro}</Text>

            <Text tag="h2">{pageContent.personal.valuesTitle}</Text>

            {pageContent.personal.values.map((value) => <Text tag="p">{value}</Text>)}

            <div class="mt-14 sm:w-fit">
              <Button
                isLink={true}
                download="Arthur-Ersosi-ueber.pdf"
                href="/Arthur-Ersosi-ueber.pdf"
                size="base"
                variant="primary"
                class="not-proseBase"
              >
                <Download slot="left-icon" size="lg" class="mr-2" />
                Über mich herunterladen
              </Button>
            </div>
          </Wrapper>
        </div>
      </div>

      <!-- CV -->
      <Wrapper variant="proseBase" class:list={[...stackGridPadding]}>
        <div class:list={[...stackGrid]}>
          <span></span>
          <Text tag="h1" class="!my-0" isPrimary>
            {cvTitle}
          </Text>
        </div>

        <div class="grid gap-6">
          {
            cvData.map((item) => (
              <>
                <div class:list={[...stackGrid]}>
                  <span />
                  <Text tag="h2">{item.headline}</Text>
                </div>
                {item.entries.map((entry) => (
                  <div class:list={[...stackGrid]} class="!gap-y-0">
                    <Text tag="h3" class="lg:ml-auto">
                      {entry.date}
                    </Text>
                    <div class="lg:col-span-2">
                      <Text tag="h3" class="max-lg:mt-0 max-lg:mb-4">
                        {entry.position}
                      </Text>

                      <div class="grid gap-3">
                        {(Array.isArray(entry.company) ? entry.company : [entry.company]).map((company) => (
                          <div class="flex items-center gap-2">
                            <MapPin size="xs" class="text-base-600 dark:text-base-200" />
                            <Text tag="p" class="!-my-1">
                              {company}
                            </Text>
                          </div>
                        ))}
                      </div>

                      <Text tag="p">{entry.description}</Text>
                    </div>
                  </div>
                ))}
              </>
            ))
          }

          <div class:list={[...stackGrid]} class="sm:mt-4">
            <span></span>
            <div class="sm:w-fit lg:col-span-2">
              <Button
                isLink={true}
                download="Arthur-Ersosi-cv.pdf"
                href="/Arthur-Ersosi-cv.pdf"
                size="base"
                variant="primary"
                class="not-proseBase"
              >
                <Download slot="left-icon" size="lg" class="mr-2" />
                CV herunterladen
              </Button>
            </div>
          </div>
        </div>
      </Wrapper>
    </Wrapper>
  </section>
</BaseLayout>
