---
import Text from "@/components/elements/Text.astro";

const { url, viewerTitle, pageDescription } = Astro.props;

const textPrimaryHover =
  "transition-colors !duration-200 group-hover:text-primary-600 group-hover:dark:text-primary-300";
const hoverSize = "absolute sm:-inset-x-5 sm:-top-2.5 sm:-bottom-3";
const borderStyles = "rounded-xl sm:border-[1.5px] border-primary-600 dark:border-primary-300";
const hoverStyles =
  "transition-transform duration-300 scale-97 group-hover:scale-100 opacity-0 group-hover:opacity-100";
---

<article class="group relative grid gap-x-12 gap-y-8 lg:items-start">
  <a href={url} aria-label={viewerTitle} class="w-full">
    <div class={`z-0 ${borderStyles} ${hoverSize} ${hoverStyles}`}></div>
    <div>
      <div class="relative z-10 flex w-full flex-col gap-x-4 md:flex-row md:items-center">
        <div class="hidden sm:block">
          <Text tag="h3" variant="textLG" class={`whitespace-nowrap ${textPrimaryHover}`}>
            {viewerTitle}
            <span class="px-3 transition-colors !duration-200">—</span><slot />
          </Text>
        </div>
        <div class="grid gap-1 pb-1 sm:hidden">
          <Text tag="p" variant="textSM" class={`whitespace-nowrap ${textPrimaryHover}`}>
            <slot />
          </Text>

          <Text tag="h3" variant="textLG" class={`whitespace-nowrap ${textPrimaryHover}`}>
            {viewerTitle}
          </Text>
        </div>
      </div>
    </div>
    <Text tag="p" class={`text-pretty relative z-10 ${textPrimaryHover}`}>
      {pageDescription}
    </Text>
  </a>
</article>
