---
import { Image } from "astro:assets";
import { Carousel } from "@/components/lib/elements/astro-carousel";

const { images } = Astro.props;
---

<div class="mb-10">
	<Carousel images={images} />
	<div class="entry__entries relative" id="carouselTargetList">
		{
			(
				<a
					href={`?image=0`}
					data-carousel-index={0}
					aria-label={images.length === 1 ? ("Vergrößern") : ("Slideshow")}
					class="entry__link__overlay bg-primary-500/70 absolute inset-0 grid items-center justify-center rounded-xl opacity-0 transition-opacity duration-300 ease-in-out hover:opacity-100">
					<div class="text-base-200 font-light text-xl lg:text-2xl border-2 border-primary-100 rounded-xl px-4 py-2">
						{images.length === 1 ? ("Vergrößern") : ("Slideshow")}
					</div>
				</a>
				<Image
					width={1000}
					height={800}
					loading="eager"
					decoding="async"
					alt={images[0].alt}
					src={images[0].src}
					class="aspect-12/6 w-full rounded-xl object-cover object-center lg:col-span-2"
				/>
				<>
					{images.length > 1 && (
						<div class="circles absolute bottom-0 flex w-full justify-center gap-3 p-3 md:gap-4">
							{images.map((item, index) => (
								<a href={`?image=${index}`}
									 data-carousel-index={index}
									 aria-label={`Bild ${index + 1}`}
									 a11ytip-top
								>
									<div
										class={`entry__link bg-primary-500 h-4 w-4 rounded-full border-2 border-white transition hover:scale-130 hover:bg-white md:h-3.5 md:w-3.5`}
									/>
								</a>
							))}
						</div>
					)}
				</>


			)
		}
	</div>
</div>
