---
import { Image } from "astro:assets";
import { Carousel } from "@/components/lib/elements/astro-carousel";

const { images } = Astro.props;
---

<div class="mb-10">
	<Carousel images={images} />
	<div class="entry__entries relative" id="carouselTargetList">
		{
			(
				<a
					href={`?image=0`}
					data-carousel-index={0}
					aria-label={`Open image number 1`}
					class="entry__link__overlay bg-accent-500/70 absolute inset-0 grid items-center justify-center rounded-xl opacity-0 transition-opacity duration-300 ease-in-out hover:opacity-100">
					<div class="text-base-200 text-xl lg:text-3xl">Open Images</div>
				</a>
				<Image
					width={1000}
					height={800}
					loading="eager"
					decoding="async"
					alt={images[0].alt}
					src={images[0].src}
					class="aspect-12/6 w-full rounded-xl object-cover object-center lg:col-span-2"
				/>
				<div class="circles absolute bottom-0 flex w-full justify-center gap-3 p-3 md:gap-4">
					{images.map((item, index) => (
						<a href={`?image=${index}`}
							 data-carousel-index={index}
							 aria-label={`Open image number ${index}`}>
							<div
								class={`entry__link border-accent-500 transition hover:scale-130 hover:border-accent-100 bg-accent-500/50 h-3.5 w-3.5 rounded-full border-2 md:h-4 md:w-4 ${index === 0 && "!bg-accent-500"}`}
							/>
						</a>
					))}
				</div>
			)
		}
	</div>
</div>
