---
import aboutCover from "*.webp";
import { Image } from "astro:assets";
import { Carousel } from "@/components/lib/elements/astro-carousel";

const { images } = Astro.props;
---

<div class="mb-10">
	<Carousel images={images} />
	<div class="entry__entries relative" id="carouselTargetList">
		{
			(
				<a
					href={`?image=0`}
					data-carousel-index={0}
					aria-label={images.length === 1 ? ("Bild vergrößern") : ("Slideshow öffnen")}
					class="entry__link__overlay bg-primary-500/60 absolute inset-0 grid items-center justify-center rounded-xl opacity-0 transition-opacity duration-300 ease-in-out hover:opacity-100">
					<div class="text-base-200 font-light text-lg lg:text-xl border-2 border-primary-100 rounded-xl px-4 py-2">
						{images.length === 1 ? ("Bild vergrößern") : ("Slideshow öffnen")}
					</div>
				</a>

				<Image
					alt={images[0].alt}
					src={images[0].src}
					widths={[320, 480, 640, 768, 1024, 1280, 1536]}
					sizes={`
								(max-width: 639px) 100vw,
								(max-width: 767px) 100vw,
								(max-width: 1023px) 50vw,
								(max-width: 1279px) 33vw,
								(max-width: 1535px) 25vw,
								400px
							`}
					layout="constrained"
					loading="eager"
					decoding="async"
					class="bg-secondary-100 aspect-12/6 w-full rounded-xl object-cover object-center lg:col-span-2"
				/>
				<>
					{images.length > 1 && (
						<div class="circles absolute bottom-0 flex w-full justify-center gap-3 p-3 md:gap-4">
							{images.map((item, index) => (
								<a href={`?image=${index}`}
									 data-carousel-index={index}
									 aria-label={`Bild ${index + 1} öffnen`}
									 a11ytip-top
								>
									<div
										class={`entry__link bg-white hover:bg-primary-600 h-4 w-4 rounded-full shadow-md/50 transition md:h-3.5 md:w-3.5`}
									/>
								</a>
							))}
						</div>
					)}
				</>


			)
		}
	</div>
</div>
