---
import { getCollection } from "astro:content";
import BlogPostLink from "../../components/BlogPostLink/BlogPostLink.astro";
import LayoutBase from "../../layouts/LayoutBase.astro";
import { mergeArrUnduplicate } from "../../utils/merge-arr-unduplicate";
import H1 from "../../components/H1/H1.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const allTags = mergeArrUnduplicate(posts, "tags");
const allCategories = mergeArrUnduplicate(posts, "categories");

const title = "Blog posts";
const description = "Blog description is cool";
---

<LayoutBase title={title} description={description}>
  <H1 title={title} />

  <main>
    <section class="blog-post-filter bg-green-500">
      <div class="categories-list">
        {allCategories.map((category) => <span class="tag">{category}</span>)}
      </div>

      <div class="tag-list">
        {allTags.map((tag) => <span class="tag">{tag}</span>)}
      </div>
    </section>

    <section class="blog-post-links grid grid-cols-4 gap-4">
      {posts.map((post) => <BlogPostLink post={post} />)}
    </section>
  </main>
</LayoutBase>
