---
import { getCollection } from "astro:content";
import BaseLayout from "@/components/layouts/BaseLayout.astro";
import ExternalLink from "@/lib/icons/ExternalLink.astro";
import Text from "@/components/elements/Text.astro";
import Link from "@/components/elements/Link.astro";

import Wrapper from "@/components/containers/Wrapper.astro";
import ArticlesEntry from "@/components/entries/ArticlesEntry.astro";
import { stackGrid, stackGridPadding } from "@/lib/shared/abstracts";
import CarouselWrapper from "@/components/elements/CarouselWrapper.astro";

const { frontmatter } = Astro.props;
const allPosts = await getCollection("articles");
const relatedPosts = allPosts.filter(
  (post) =>
    post.data.tags.some((tag) => frontmatter.tags.includes(tag)) &&
    post.data.viewerTitle !== frontmatter.viewerTitle,
);
---

<BaseLayout
  pageTitle={frontmatter.pageTitle}
  pageDescription={frontmatter.pageDescription}
  article={true}
  publishDate={frontmatter.pubDate}
>
  <section>
    <Wrapper variant="standard">
      <div class:list={[...stackGrid, ...stackGridPadding]}>
        <div class="flex flex-col gap-8">
          <Text tag="h1" isPrimary>
            {frontmatter.viewerTitle}
          </Text>
          <Text tag="p">
            {frontmatter.pageDescription}
          </Text>

          <div class="grid gap-8">
            <div class="grid gap-2">
              {
                frontmatter.online && (
                  <Text tag="h3"> Online</Text>
                  <div class="flex gap-6">
                    {frontmatter.online && (
                      <Link
                        target="_blank"
                        href={frontmatter.online.href}
                        aria-label={frontmatter.online.ariaLabel}
                        size="base"
                        variant="primary"
                        data-a11ytip-bottom
                      >
                        {frontmatter.online.name}
                        <ExternalLink size="base" />
                      </Link>
                    )}
                    {frontmatter.demo && (
                      <Link
                        target="_blank"
                        href={frontmatter.demo.href}
                        aria-label={frontmatter.demo.ariaLabel}
                        size="base"
                        variant="primary"
                        data-a11ytip-bottom
                      >
                        {frontmatter.demo.name}
                        <ExternalLink size="base" />
                      </Link>
                    )}
                  </div>
                )
              }
            </div>
          </div>

          <slot name="extra" />
        </div>
        <div class="lg:col-span-2">
          <CarouselWrapper images={frontmatter.images} />

          <Wrapper variant="prose">
            <slot />
          </Wrapper>
        </div>
      </div>
    </Wrapper>
  </section>
  {
    relatedPosts.length > 0 && (
      <section>
        <Wrapper variant="standard">
          <div class:list={[...stackGrid, ...stackGridPadding]} class="border-t">
            <Text tag="h2">
              Ähnliche Artikel
            </Text>
            <div class="flex flex-col gap-12 lg:col-span-2">
              {relatedPosts.slice(0, 3).map((post) => (
                <ArticlesEntry post={post} />
              ))}
            </div>
          </div>
        </Wrapper>
      </section>
    )
  }
</BaseLayout>
