---
import BaseLayout from "@/components/layouts/BaseLayout.astro";
import Text from "@/components/elements/Text.astro";
import Wrapper from "@/components/containers/Wrapper.astro";
import ArticlesEntry from "@/components/entries/ArticlesEntry.astro";
import { getCollection } from "astro:content";
import Link from "@/components/elements/Link.astro";
import { stackGrid, stackGridPadding } from "@/lib/shared/classes";

export async function getStaticPaths() {
  const allPosts = await getCollection("articles");
  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { articles: filteredPosts },
    };
  });
}
const { tag } = Astro.params;
const { articles } = Astro.props;

const allPostsUnsorted = await getCollection("articles");
const allPosts = allPostsUnsorted.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<BaseLayout
  pageTitle={`Artikel Kategorie | ${tag} | Arthur Ersosi`}
  pageDescription={`Artikel zum Thema ${tag} von Arthur Ersosi. Lesen Sie Tipps und Erfahrungen zu Frontend-Entwicklung, UI/UX-Design und Web-Technologien.`}
>
  <section>
    <Wrapper variant="standard">
      <div class:list={[...stackGrid, ...stackGridPadding]}>
        <div class="grid gap-8">
          <Text tag="h1" variant="text2XL" isPrimary>
            {tag}
          </Text>

          <div class="grid gap-2">
            <Text tag="h2" variant="textBase" class="flex justify-baseline gap-1">
              Alle Kategorien
              <span class="flex gap-0.5">
                (<Link
                  href="/articles/tags"
                  size="base"
                  variant="primary"
                  aria-label="Index aller Kategorien"
                  data-a11ytip-bottom>Index</Link
                >)
              </span>
            </Text>

            <div class="scrollable-content scrollbar-hide snap-x snap-proximity overflow-x-scroll">
              <div class="flex gap-x-2 lg:flex-col">
                {
                  tags.map((tag) => (
                    <Link href={`/src/pages/articles/tags/${tag}`} size="sm" variant="default">
                      {tag}
                    </Link>
                  ))
                }
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-12 lg:col-span-2">
          {articles.map((post) => <ArticlesEntry post={post} />)}
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
