---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../../components/FormattedDate/FormattedDate.astro";
import { getReadingTime } from "../../utils/reading-time";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const readingTime = getReadingTime(post.body);
---

<style>
  .BlogPostLink {
    display: flex;
    flex-direction: column;
  }
</style>

<a href={`/blog/${post.slug}/`} class="BlogPostLink">
  <div class="relative">
    <span class="absolute top-0 right-0 p-2 text-white"
      ><FormattedDate date={post.data.pubDate} />
    </span>
    <img src={post.data.heroImage} alt={post.data.heroAltText} />
  </div>

  <div class="bg-blue-500">
    <div class="flex justify-between p-2">
      <h4>{post.data.title}</h4>
      <p>{readingTime}</p>
    </div>

    <div class="flex justify-between p-2">
      <p>{post.data.categories}</p>
      <p>{post.data.tags}</p>
    </div>
  </div>
</a>
