---
import Text from "@/components/lib/elements/Text.astro";

const {url, title, description, ariaText} = Astro.props;

const textColorHeadline = "transition-colors text-base-900 dark:text-white";
const textColorP = "text-base-600 dark:text-base-300";
const textAccent = "group-hover:text-accent-700 group-hover:dark:text-accent-300";
---

<article class="group relative grid grid-cols-1 gap-x-12 gap-y-8 lg:grid-cols-3 lg:items-start">
    <div class="lg:col-span-2">
        <Text tag="h3" variant="textLG"
              class={`font-medium tracking-tight ${textColorHeadline} ${textAccent}`}>
            <div class="absolute -inset-x-4 -inset-y-3 z-0 scale-95 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 rounded-2xl bg-accent-500/10 dark:bg-accent-600/10"></div>
            <a href={url} aria-label={title}>
                <div class="absolute -inset-x-3 -inset-y-4 z-20 rounded-2xl"></div>
                <p class="flex flex-col md:items-center md:flex-row gap-x-4 relative z-10" >
                    <span class="whitespace-nowrap">{title}</span>
                    <span class="hidden md:block font-light"> — </span>
                    <span class="text-sm md:text-lg py-1"><slot/></span>
                </p>
            </a>
        </Text>
        <Text tag="p" class={`text-balance relative z-10 mt-1 ${textColorP} ${textAccent}`}>
            {description}
        </Text>
    </div>
</article>