---
import Text from "@/components/elements/Text.astro";
import { Image } from "astro:assets";
import { Carousel } from "@/components/elements/astro-carousel";
import Maximize2 from "@/lib/icons/Maximize2.astro";
import { carourselCirclesSize, carourselCirclesWrapperGap } from "../../lib/shared/abstracts";

const { images } = Astro.props;
const ImgSlideshowLabel = images.length === 1 ? "Bild vergrößern" : "Slideshow öffnen";
---

<div class="mb-10">
	<Carousel images={images} />
	<div class="entry__entries relative" id="carouselTargetList">
		{
			(
				<a
					href={`?image=0`}
					data-carousel-index={0}
					aria-label={ImgSlideshowLabel}
          data-a11ytip-bottom
					class="entry__link__overlay group !absolute inset-0 grid items-end justify-end p-2 sm:p-4 rounded-lg md:rounded-xl">

          <!-- Maximize Icon Desktop -->
          <div class="hidden sm:flex items-center justify-center border-2 rounded-full size-10 transition-transform group-hover:scale-115 text-base-600 group-hover:text-primary-600 pointer-none">
            <Maximize2 size="base" />
          </div>

          <!-- Maximize Icon Mobile -->
          <div class="flex sm:hidden items-center justify-center border-2 rounded-full size-8 text-primary-600 pointer-none">
            <Maximize2 size="xs" />
          </div>
				</a>

				<Image
					alt={images[0].alt}
					src={images[0].src}
					widths={[320, 480, 640, 768, 1024, 1280, 1440]}
					sizes={`
								(max-width: 639px) 100vw,
								(max-width: 767px) 100vw,
								(max-width: 1023px) 50vw,
								(max-width: 1279px) 33vw,
								(max-width: 1439px) 25vw,
								400px
							`}
					layout="constrained"
					loading="eager"
					decoding="async"
					class="print:w-1/2 bg-secondary-100 aspect-12/6 w-full rounded-lg md:rounded-xl object-cover object-center lg:col-span-2 shadow-lg"
				/>

				<>
					{images.length > 1 && (
						<div
              class:list={[...carourselCirclesWrapperGap]}
              class="circles absolute bottom-0 flex w-full justify-center p-3">
							{images.map((item, index) => (
								<a href={`?image=${index}`}
									 data-carousel-index={index}
									 aria-label={`Bild ${index + 1} öffnen`}
									 data-a11ytip-top
								>
									<div
                    class:list={[...carourselCirclesSize]}
										class={`entry__link bg-white hover:bg-primary-600 transition-transform hover:scale-130 rounded-full shadow-md/50`}
									/>
								</a>
							))}
						</div>
					)}
				</>
			)
		}
	</div>
</div>
