---
import Text from "@/components/elements/Text.astro";
import { Image } from "astro:assets";
import { Carousel } from "@/components/elements/astro-carousel";
import Maximize2 from "@/lib/icons/Maximize2.astro";

const { images } = Astro.props;
const ImgSlideshowLabel = images.length === 1 ? "Bild vergrößern" : "Slideshow öffnen";
---

<div class="mb-10">
	<Carousel images={images} />
	<div class="entry__entries relative" id="carouselTargetList">
		{
			(
				<a
					href={`?image=0`}
					data-carousel-index={0}
					aria-label={ImgSlideshowLabel}
          data-a11ytip-bottom
					class="entry__link__overlay group !absolute inset-0 grid items-end justify-end p-4 rounded-lg md:rounded-xl">
					<div class="flex items-center justify-center transition group-hover:scale-115 text-base-500 group-hover:text-primary-600 font-light text-lg lg:text-xl border-2 rounded-full w-10 h-10">
            <Maximize2 size="base" />
					</div>
				</a>

				<Image
					alt={images[0].alt}
					src={images[0].src}
					widths={[320, 480, 640, 768, 1024, 1280, 1440]}
					sizes={`
								(max-width: 639px) 100vw,
								(max-width: 767px) 100vw,
								(max-width: 1023px) 50vw,
								(max-width: 1279px) 33vw,
								(max-width: 1439px) 25vw,
								400px
							`}
					layout="constrained"
					loading="eager"
					decoding="async"
					class="bg-secondary-100 aspect-12/6 w-full rounded-lg md:rounded-xl object-cover object-center lg:col-span-2 shadow-lg"
				/>

        <Text
          tag="p"
          variant="textSM"
          class={`sm:hidden absolute -bottom-10 left-1/2 -translate-1/2 `}
        >
          Zum vergrößern klicken
        </Text>

				<>
					{images.length > 1 && (
						<div class="circles absolute bottom-0 flex w-full justify-center gap-3 p-3 md:gap-4">
							{images.map((item, index) => (
								<a href={`?image=${index}`}
									 data-carousel-index={index}
									 aria-label={`Bild ${index + 1} öffnen`}
									 data-a11ytip-top
								>
									<div
										class={`entry__link bg-white hover:bg-primary-600 h-4 w-4 rounded-full shadow-md/50 transition md:h-3.5 md:w-3.5`}
									/>
								</a>
							))}
						</div>
					)}
				</>


			)
		}
	</div>
</div>
