---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/lib/elements/Text.astro";
import Wrapper from "@/components/lib/containers/Wrapper.astro";
import { getCollection } from "astro:content";
import Link from "@/components/lib/elements/Link.astro";
const allProjects = await getCollection("projects")

const allTags = [...new Set(allProjects.map((post) => post.data.tags).flat())];
const tagCounts = allProjects.reduce((acc, post) => {
    post.data.tags.forEach((tag) => {
        acc[tag] = (acc[tag] || 0) + 1; // Count each tag per post
    });
    return acc;
}, {});

const priorityTags = ["Professionelles Projekt", "Privates Projekt"];
const projectTypes = allTags.filter((tag) => priorityTags.includes(tag));
const otherTags = allTags
    .filter((tag) => !priorityTags.includes(tag))
    .sort((a, b) => a.localeCompare(b, "de"));
---

<BaseLayout>
    <section>
        <Wrapper variant="standard">
            <div class="grid grid-cols-1 gap-x-12 gap-y-8 lg:grid-cols-3 py-16 lg:py-24 lg:pt-40">
                <div class="lg:sticky lg:top-4 lg:z-40 self-start">
                    <div class="flex gap-8 flex-col">
                        <Text tag="h1" variant="text2XL" class="font-medium text-base-900 dark:text-white">
                            Kategorie Index
                        </Text>
                    </div>
                </div>

                <div class="flex flex-col gap-2 lg:col-span-2">

                    {projectTypes.map((tag) => (
                            <Link title={tag} aria-label={tag} href={`/projects/tags/${tag}`} size="sm"
                                  variant="accent">
                                <span>{tagCounts[tag]} - </span>
                                <span>{tag}</span>
                            </Link>
                    ))}

                    <hr class="my-4 text-base-400 dark:text-base-60">

                    {otherTags.map((tag) => (
                            <Link title={tag} aria-label={tag} href={`/projects/tags/${tag}`} size="sm"
                                  variant="accent">
                                <span>{tagCounts[tag]} - </span>
                                <span>{tag}</span>
                            </Link>
                    ))}
                </div>
            </div>
        </Wrapper>
    </section>
</BaseLayout>
