---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/lib/elements/Text.astro";
import Wrapper from "@/components/lib/containers/Wrapper.astro";
import { getCollection } from "astro:content";
import Link from "@/components/lib/elements/Link.astro";
import { stackGrid, stackGridPadding, stickyElement } from "@/shared/classes.ts";

const allProjects = await getCollection("projects");

const allTags = [...new Set(allProjects.map((post) => post.data.tags).flat())];
const tagCounts = allProjects.reduce((acc, post) => {
	post.data.tags.forEach((tag) => {
		acc[tag] = (acc[tag] || 0) + 1; // Count each tag per post
	});
	return acc;
}, {});

const priorityTags = ["Professionelles Projekt", "Privates Projekt"];
const projectTypes = allTags.filter((tag) => priorityTags.includes(tag));
const otherTags = allTags
	.filter((tag) => !priorityTags.includes(tag))
	.sort((a, b) => a.localeCompare(b, "de"));
---

<BaseLayout>
	<section>
		<Wrapper variant="standard">
			<div class:list={[...stackGrid, ...stackGridPadding]}>
				<div class:list={[...stickyElement]}>
					<div class="flex flex-col gap-8">
						<Text tag="h1" variant="text2XL" class="text-base-900 font-medium dark:text-white">
							Kategorie Index
						</Text>
					</div>
				</div>

				<div class="flex flex-col gap-2 lg:col-span-2">
					{
						projectTypes.map((tag) => (
							<Link
								title={tag}
								aria-label={tag}
								href={`/projects/tags/${tag}`}
								size="sm"
								variant="accent"
							>
								<span>{tagCounts[tag]} - </span>
								<span>{tag}</span>
							</Link>
						))
					}

					<hr class="text-base-400 dark:text-base-60 my-4" />

					{
						otherTags.map((tag) => (
							<Link
								title={tag}
								aria-label={tag}
								href={`/projects/tags/${tag}`}
								size="sm"
								variant="accent"
							>
								<span>{tagCounts[tag]} - </span>
								<span>{tag}</span>
							</Link>
						))
					}
				</div>
			</div>
		</Wrapper>
	</section>
</BaseLayout>
