---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/lib/elements/Text.astro";
import Wrapper from "@/components/lib/containers/Wrapper.astro";
import ArticlesEntry from "@/components/lib/entries/ArticlesEntry.astro";
import { stackGrid, stackGridPadding, stickyElement } from "@/shared/classes.js";

const {frontmatter} = Astro.props;
const allPosts = await getCollection("articles");
const relatedPosts = allPosts.filter((post) =>
    post.data.tags.some((tag) => frontmatter.tags.includes(tag)) &&
    post.data.title !== frontmatter.title
);
---

<BaseLayout>
    <section>
        <Wrapper variant="standard">
            
            <div class:list={[...stackGrid, ...stackGridPadding]}>
                <div class:list={[...stickyElement]}>
                    <div class="flex gap-8 flex-col">
                        <Text tag="h1" variant="text2XL" class="font-medium text-base-900 dark:text-white">
                            {frontmatter.title}
                        </Text>
                        <Text tag="p" variant="textBase" class="text-base-600 dark:text-base-300">
                            {frontmatter.description}
                        </Text>
                        <slot name="extra"/>
                    </div>
                </div>
                <div class="lg:col-span-2">

                    <Wrapper variant="prose">
                        <Image
                                width={1000}
                                height={800}
                                loading="eager"
                                decoding="async"
                                alt={frontmatter.image.alt}
                                src={frontmatter.image.url}
                                class="object-cover object-center w-full aspect-12/6 lg:col-span-2 rounded-xl"
                        />
                        <slot/>
                    </Wrapper>
                </div>
            </div>
        </Wrapper>
    </section>
    {
        relatedPosts.length > 0 && (
                    <section>
                        <Wrapper variant="standard">
                            <div class:list={[...stackGrid, ...stackGridPadding]} class="border-t">
                                <Text tag="h2"
                                      variant="textBase"
                                      class="font-medium text-base-900 dark:text-white"
                                >
                                    Ähnliche Artikel
                                </Text>
                                <div class="flex flex-col gap-12 lg:col-span-2">
                                    {relatedPosts.slice(0, 3).map((post) => (
                                            <ArticlesEntry post={post}/>
                                    ))}
                                </div>
                            </div>
                        </Wrapper>
                    </section>
        )
    }
</BaseLayout>
