---
import { Image } from "astro:assets";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/lib/elements/Text.astro";
import Wrapper from "@/components/lib/containers/Wrapper.astro";
import Link from "@/components/lib/elements/Link.astro";
import ProjectEntry from "@/components/lib/entries/ProjectEntry.astro";
const {frontmatter} = Astro.props;
import { getCollection } from "astro:content";
import ExternalLink from "@/components/lib/icons/ExternalLink.astro";
import { stackGrid, stackGridPadding, stickyElement } from "@/shared/classes.ts";
import CarouselWrapper from "@/components/lib/elements/CarouselWrapper.astro";

const allProjects = await getCollection("projects");
const relatedProjects = allProjects.filter((project) =>
    project.data.tags.some((tag) => frontmatter.tags.includes(tag)) &&
    project.data.viewerTitle !== frontmatter.viewerTitle &&
    project.data.viewerTitle === "Template"
);
---

<BaseLayout>
    <section>
        <Wrapper variant="standard">
            <div class:list={[...stackGrid, ...stackGridPadding]}>
                <div class:list={[...stickyElement]}>
                    <div class="flex gap-8 flex-col">
                        <Text tag="h1" variant="text2XL" class="font-medium text-base-900 dark:text-white">
                            {frontmatter.title}
                        </Text>

                        <div class="grid gap-8">
                            <div class="grid gap-2">
                                <Text tag="h3" variant="textBase" class="font-medium text-base-600 dark:text-base-300">
                                    Online
                                </Text>

                                {frontmatter.repo || frontmatter.demo ? (
                                        <div class="flex gap-6">
                                            {frontmatter.repo && (
                                                    <Link target="_blank"
                                                          href={frontmatter.repo.href}
                                                          aria-label={frontmatter.repo.ariaLabel}
                                                          size="base"
                                                          variant="accent"
                                                          a11ytip-bottom
                                                    >
                                                        {frontmatter.repo.name}
                                                        <ExternalLink size="base" class="-mt-0.5"/>
                                                    </Link>
                                            )}
                                            {frontmatter.demo && (
                                                    <Link target="_blank"
                                                          href={frontmatter.demo.href}
                                                          aria-label={frontmatter.demo.ariaLabel}
                                                          size="base"
                                                          variant="accent"
                                                          a11ytip-bottom
                                                    >
                                                        {frontmatter.demo.name}
                                                        <ExternalLink size="base" class="-mt-0.5"/>
                                                    </Link>
                                            )}
                                        </div>
                                ) : (
                                    frontmatter.noLinksText && (
                                            <Text tag="p" variant="textBase" class="dark:text-white">
                                                {frontmatter.noLinksText}
                                            </Text>
                                    )
                                )}
                            </div>

                            {frontmatter.company.companyName === "" ? (
                                    <div class="grid gap-2">
                                        <Text tag="h3" variant="textBase" class="font-medium text-base-600 dark:text-base-300">
                                            Firma ({frontmatter.company.companySize} Pers.)
                                        </Text>

                                        <Text tag="p" variant="textBase" class="dark:text-white">
                                            {frontmatter.company.companyName}
                                        </Text>
                                    </div>

                                    <div class="grid gap-2">
                                        <Text tag="h3" variant="textBase" class="font-medium text-base-600 dark:text-base-300">
                                            Aufgabe (Team {frontmatter.company.teamSize} Pers.)
                                        </Text>

                                        <Text tag="p" variant="textBase" class="dark:text-white text-balance">
                                            {frontmatter.company.myRole}
                                        </Text>
                                    </div>
                            ) : (
                                    <div class="grid gap-2">
                                        <Text tag="h3" variant="textBase" class="font-medium text-base-600 dark:text-base-300">
                                            Aufgabe
                                        </Text>

                                        <Text tag="p" variant="textBase" class="dark:text-white text-balance">
                                            {frontmatter.company.myRole}
                                        </Text>
                                    </div>
                            )}
                        </div>

                    </div>
                </div>
                <div class="lg:col-span-2">
                    <CarouselWrapper images={frontmatter.images} />

                    <Wrapper variant="prose">
                        <slot/>
                    </Wrapper>
                </div>
            </div>
        </Wrapper>
    </section>
    {
        relatedProjects.length > 0 && (
                    <section>
                        <Wrapper variant="standard">
                            <div class:list={[...stackGrid, ...stackGridPadding]} class="border-t">
                                <Text tag="h2"
                                      variant="textBase"
                                      class="font-medium text-base-900 dark:text-white"
                                >
                                    Ähnliche Projekte
                                </Text>
                                <div class="flex flex-col gap-12 lg:col-span-2">
                                    {relatedProjects.slice(0, 3).map((project) => (
                                            <ProjectEntry project={project}/>
                                    ))}
                                </div>
                            </div>
                        </Wrapper>
                    </section>
        )
    }
</BaseLayout>
