---
import Text from "@/components/lib/elements/Text.astro";
import Wrapper from "@/components/lib/containers/Wrapper.astro";
import Link from "@/components/lib/elements/Link.astro";

const LinkData = [
	{
		category: "Allgemein",
		links: [
			{ text: "Start", href: "/#home", ariaLabel: "Start" },
			{ text: "Über mich", href: "/about", ariaLabel: "Über mich" },
			{ text: "Impressum", href: "/imprint", ariaLabel: "Impressum" },
			{ text: "Datenschutz", href: "/datasecurity", ariaLabel: "Datenschutz" },
			{ text: "404", href: "/404", ariaLabel: "404" },
		],
		linkClass: "font-normal",
	},
	{
		category: "Projekte",
		links: [
			{ text: "Alle Projekte", href: "/projects", ariaLabel: "Alle Projekte" },
			{ text: "Projektkategorie Index", href: "/projects/tags", ariaLabel: "Kategorie Index" },
		],
		linkClass: "font-normal",
	},
	{
		category: "Artikel",
		links: [
			{ text: "Alle Artikel", href: "/articles", ariaLabel: "Alle Artikel" },
			{ text: "Artikelkategorie Index", href: "/articles/tags", ariaLabel: "Kategorie Index" },
		],
		linkClass: "font-normal",
	},
];

import { stackGrid, stackGridPadding } from "@/shared/classes";
---

<footer>
	<Wrapper variant="standard">
		<div
			class:list={[...stackGridPadding]}
			class="border-base-400 dark:border-base-600 grid gap-16 border-t"
		>
			<nav class:list={[...stackGrid]} class="md:grid-cols-2">
				{
					LinkData.map(({ category, links, linkClass }) => (
						<div class="flex flex-col items-center gap-2 md:items-start">
							<Text tag="h4" variant="textSM">
								{category}
							</Text>
							{links.map(({ text, href, ariaLabel }) => (
								<Link
									href={href}
									aria-label={ariaLabel}
									size="sm"
									variant="muted"
									class={linkClass}
									key={href}
								>
									{text}
								</Link>
							))}
						</div>
					))
				}
			</nav>

			<div class:list={[...stackGrid]} class="md:grid-cols-2">
				<div>
					<Text tag="p" variant="textBase"> Hamburg, Germany </Text>
					<Text id="clock" tag="p" variant="textSM" />
				</div>
				<Text tag="p" variant="textBase">
					© Copyright <span id="copyrightYear">2025</span>, Arthur Ersosi. <br />Alle Rechte
					vorbehalten.
				</Text>
			</div>
		</div>
	</Wrapper>
</footer>
