---
import Button from "@/components/elements/Button.astro";
import Link from "@/components/elements/Link.astro";
import Book from "@/lib/icons/Book.astro";
import AtSign from "@/lib/icons/AtSign.astro";
import Tool from "@/lib/icons/Tool.astro";
import User from "@/lib/icons/User.astro";
import Menu from "@/lib/icons/Menu.astro";
import X from "@/lib/icons/X.astro";
import ArrowUp from "@/lib/icons/ArrowUp.astro";
import AeLogo from "@/lib/icons/AeLogo.astro";

import ThemeToggle from "@/components/elements/ThemeToggle.astro";
import ZoomToggle from "@/components/elements/ZoomToggle.astro";
import Text from "@/components/elements/Text.astro";

const baseClass = [
  "fixed",
  "w-full",
  "z-50",
  "flex",
  "justify-center",
  "top-0",

  "backdrop-blur-md",
  "bg-base-100/70",
  "dark:bg-base-800/70",

  "transition-[padding]",
  "duration-500",
  "ease-in-out",

  "py-8",
  "lg:py-11",
  "scrolled:py-3",
  "scrolled:shadow-md",
  "scrolled:border-b",
  "scrolled:border-base-600/10",
  "scrolled:dark:border-base-600/10",
];

const navItems = [
  { href: "/projects", name: "Projekte", Icon: Tool },
  { href: "/articles", name: "Artikel", Icon: Book },
  { href: "/about", name: "Über mich", Icon: User },
  { href: "/#socials", name: "Kontakt", Icon: AtSign },
];
---

<nav id="mainNav" class:list={[...baseClass]}>
  <div class="w-full max-w-7xl px-4 sm:px-12 lg:px-16">
    <!--Mobile Nav-->
    <div class="flex w-full justify-between md:hidden">
      <Button
        isLink={true}
        iconOnly
        size="sm"
        variant="outline"
        href={"/#home"}
        aria-label={"Startseite"}
        data-a11ytip-bottom
        class="group"
      >
        <div slot="icon" class="transition-transform duration-500 group-hover:scale-115">
          <AeLogo size="lg" class="group-hover:animate-wiggle" />
        </div>
      </Button>

      <Button id="mobileNavBtn" size="sm" variant="outline" class="flex gap-2">
        Menü
        <Menu slot="left-icon" size="base" />
      </Button>
      <Button id="toTopBtn" size="sm" variant="outlinePrimary" class="flex hidden gap-2">
        Nach oben
        <ArrowUp slot="left-icon" size="base" />
      </Button>
    </div>

    <div class="hidden items-center gap-2.5 md:flex">
      <Button
        isLink={true}
        iconOnly
        size="sm"
        variant="outline"
        href={"/#home"}
        aria-label={"Startseite"}
        data-a11ytip-bottom
        class="group"
      >
        <div slot="icon" class="transition-transform duration-500 group-hover:scale-115">
          <AeLogo size="lg" class="group-hover:animate-wiggle" />
        </div>
      </Button>

      <div class="mx-auto flex justify-end gap-2.5">
        {
          navItems.map(({ href, name, Icon }) => (
            <Button
              isLink={true}
              iconOnly
              size="sm"
              variant="outline"
              href={href}
              aria-label={name}
              data-a11ytip-bottom
              key={href}
            >
              <Icon slot="icon" size="base" />
            </Button>
          ))
        }
      </div>
      <ZoomToggle />
      <ThemeToggle />
    </div>

    <div class="progress-bar scrolled:block absolute right-0 -bottom-0.5 -left-0 hidden h-1 px-4 sm:px-12 md:px-1">
      <div
        id="readingProgress"
        class="from-primary-300 to-primary-600 h-full w-0 rounded-full bg-gradient-to-r transition-[width] duration-50"
      >
      </div>
    </div>
  </div>
</nav>

<!--Sidenav-->
<nav
  id="mobileNav"
  class="bg-base-100 dark:bg-base-800 fixed top-0 right-0 z-90 h-full min-w-3/4 translate-x-full transform backdrop-blur-md transition-transform duration-300 sm:min-w-1/2 md:hidden"
>
  <!--Sidenav Head-->
  <div class="flex h-full flex-col gap-9 px-8 py-6">
    <div class="flex items-center justify-between gap-8">
      <Text tag="h3" class="text-xl font-medium">Menü</Text>
      <Button
        iconOnly
        id="closeMobileNavBtn"
        size="xs"
        variant="outline"
        class="flex gap-2"
        data-a11ytip-left
        aria-label="Menü schließen"
      >
        <X slot="icon" size="base" />
      </Button>
    </div>

    <!--Sidenav Links-->
    <div class="border-base-400 dark:border-base-600 grid gap-4 border-t border-b py-8">
      {
        navItems.map(({ href, name }) => (
          <Link href={href} size="lg" variant="primary">
            {name}
          </Link>
        ))
      }
    </div>

    <!--Dark/Light mode-->
    <div class="flex gap-2.5">
      <ZoomToggle />
      <ThemeToggle />
    </div>
  </div>
</nav>

<div
  id="backdrop"
  class="bg-base-800/30 dark:bg-base-100/30 fixed inset-0 z-80 hidden border backdrop-blur-xs md:hidden"
>
</div>
