---
import Button from "@/components/lib/elements/Button.astro";
import Link from "@/components/lib/elements/Link.astro";
import Book from "@/components/lib/icons/Book.astro";
import AtSign from "@/components/lib/icons/AtSign.astro";
import Tool from "@/components/lib/icons/Tool.astro";
import User from "@/components/lib/icons/User.astro";
import Zap from "@/components/lib/icons/Zap.astro";
import ThemeToggle from "@/components/lib/elements/ThemeToggle.astro";
import Menu from "../lib/icons/Menu.astro";
import X from "../lib/icons/X.astro";

const baseClass = [
	"fixed",
	"w-fit",
	"z-50",

	"transition-[top]",
	"duration-500",

	"right-2",
	"sm:right-10",
	"lg:right-14",
	"xl:left-1/2",
	"xl:translate-x-70",
	"2xl:translate-x-72",

	"top-5",
];

const navItems = [
	{ href: "/#home", name: "Startseite", Icon: Zap },
	{ href: "/projects", name: "Projekte", Icon: Tool },
	{ href: "/articles/", name: "Artikel", Icon: Book },
	{ href: "/about", name: "Über mich", Icon: User },
	{ href: "/#socials", name: "Kontakt", Icon: AtSign },
	// {href: "/system/overview", name: "System Overview", Icon: Eye},
];
---

<div id="mainNavWrapper" class:list={[...baseClass]}>
	<nav id="mainNav">
		<div class="p-2 md:hidden">
			<Button id="mobileNavBtn" size="sm" variant="accent" class="flex gap-2">
				Menü
				<Menu slot="left-icon" size="base" />
			</Button>
		</div>
		<div
			class="bg-base-200/50 dark:bg-base-800/50 hidden items-center gap-2 rounded-xl p-2 backdrop-blur-xs md:flex"
		>
			{
				navItems.map(({ href, name, Icon }) => (
					<Button
						isLink={true}
						iconOnly
						size="sm"
						variant="accent"
						href={href}
						aria-label={name}
						a11ytip-bottom
						key={href}
					>
						<Icon slot="icon" size="sm" />
					</Button>
				))
			}
			<ThemeToggle aria-label="Hell/Dunkel Modus" a11ytip-bottom />
		</div>
	</nav>
</div>

<nav
	id="mobileNav"
	class="bg-base-100 dark:bg-base-800 fixed top-0 right-0 z-100 h-full translate-x-full transform backdrop-blur-sm transition-transform duration-300 md:hidden"
>
	<div class="flex h-full flex-col gap-8 px-8 py-6">
		<div class="border-base-400 dark:border-base-600 flex justify-between gap-4 border-b pb-8">
			<ThemeToggle />
			<Button id="closeMobileNavBtn" size="sm" variant="accent" class="flex gap-2">
				Schließen
				<X slot="left-icon" size="base" />
			</Button>
		</div>
		<div class="grid gap-4">
			{
				navItems.map(({ href, name }) => (
					<Link href={href} size="lg" variant="accent">
						{name}
					</Link>
				))
			}
		</div>
	</div>
</nav>

<div
	id="backdrop"
	class="bg-base-800/30 dark:bg-base-200/30 fixed inset-0 z-90 hidden border backdrop-blur-xs md:hidden"
>
</div>
